<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" sizes="32x32" href="~/WebApp/Assets/images/ifcon/android-icon-48x48.png">


    <title>SignIn | Register</title>

    

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/SignIn-SignUp/Assets/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/SignIn-SignUp/Assets/css/app.min.css" type="text/css">

</head>
<body class="form-membership">

    @RenderBody()

    <!-- Plugin scripts -->
    <script src="~/SignIn-SignUp/Assets/vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="~/SignIn-SignUp/Assets/js/app.min.js"></script>

</body>
</html>
