<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Us</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="index" asp-controller="Home">
                            Home
                        </a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header"> Welcome to Our Site! </h2>
                <p>We are a biopharmaceutical company focused on the discovery, development and commercialization of innovative therapies intended to improve outcomes in patients sufferings</p>
            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-user"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Team</h4>
                    <p class="content-3lines-ellipsis">Company was founded by scientists dedicated to create new therapeutics.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-bulb"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Focus</h4>
                    <p class="content-3lines-ellipsis">We Interrogate the inner life of GPCR signaling to develop newest therapeutics.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-paperplane"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Pipeline</h4>
                    <p class="content-3lines-ellipsis">Consetetur sadipscing elitr sediam nonumy eirmod tempor invidunt labore magna.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="ds color parallax page_testimonials section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section_header text-center"> Client Testimonials </h2>
                <div class="owl-carousel" data-responsive-lg="3" data-nav="false" data-dots="true">
                    <blockquote class="with_border with_padding text-center rounded">
                        <img src="~/WebApp/Assets/images/faces/01.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
                        <div class="item-meta">
                            <h5 class="highlight hover-dark-color">Heidi J. Cobb</h5>
                            <p class="highlight2">Customer</p>
                        </div>
                    </blockquote>
                    <blockquote class="ls with_border with_padding text-center rounded">
                        <img src="~/WebApp/Assets/images/faces/02.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
                        <div class="item-meta">
                            <h5 class="highlight hover-dark-color">Felicia L. Brooks</h5>
                            <p class="highlight2">Customer</p>
                        </div>
                    </blockquote>
                    <blockquote class="with_border with_padding text-center rounded">
                        <img src="~/WebApp/Assets/images/faces/03.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
                        <div class="item-meta">
                            <h5 class="highlight hover-dark-color">Frank C. McGee</h5>
                            <p class="highlight2">Customer</p>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section_header">Why Choose Us?</h2>
                <p>Offer unique class veterinary products; developed, produced and delivered in a creative and innovative way, with high quality standards and digital
                communication that allow us to position and consolidate locally through the formal establishment of strategic alliances.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-diamond2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Newest Technologies</h5>
                        <p>Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Taking Care of Nature</h5>
                        <p>Ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Fair Prices</h5>
                        <p>At vero eos et accusam ejusto duo dolores et ea rebum clita gubergren.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">High Customer Satisfaction</h5>
                        <p>Nosea takimata sanctus est lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cs gradient section_padding_top_65 section_padding_bottom_50 columns_margin_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="11" data-speed="2100">0</h3>
                    <p>Years Experience</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="320" data-speed="2100">0</h3>
                    <p>Medicament Invented</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="9" data-speed="2100">0</h3>
                    <p>Awards Winned</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-6 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter-wrap"> <span class="counter" data-from="0" data-to="99" data-speed="2100"></span> <span class="counter-add">k</span> </h3>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-6 col-xs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="500" data-speed="2100">0</h3>
                    <p>Pharmacies Partners</p>
                </div>
            </div>
        </div>
    </div>
</section>