<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Capsule-Encapsulation</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="Product" asp-controller="Home">
                            Products
                        </a>
                    </li>
                    
                    <li class="active">Capsule-Encapsulation</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/WebApp/Assets/images/cap machine.jpg" alt="" class="alignleft">
                <h2 class="section_header">Capsulation &amp; Encapsulation Process</h2>
                <p>
                    Gelatin capsules, informally called gel caps or gelcaps, are composed of gelatin manufactured from the collagen of animal skin or bone.

                    Vegetable capsules, introduced in 1989, are made up of cellulose, an important structural component in plants. To be more specific, the main ingredient of vegetarian capsules is hydroxypropyl methyl cellulose (HPMC). In the current market, gelatin capsules are more broadly used than vegetarian capsules because the cost of production is lower.
                </p>
                <div class="inline-block topmargin_30">
                    <ul class="list2 checklist color2 grey">
                        <h5>Output</h5>
                        <li>Profill 100 (2000 c/hr): it produces 2000 capsule per hour.</li>
                        <li>Profill 3007 (9000 c/hr): it produces 9000 capsules per hour</li>
                        <li>Model 8S (18000 c/hr): it produces 18000 capsules per hour. </li>
                        <h5>Capsule Size</h5>
                        <li>11.1 mm</li>
                        <li>12.2 mm</li>
                        <li>8.5 mm</li>
                        <h5>Machine Dimension</h5>
                        <li>610*680*1800 mm</li>
                        <h5>Shipping Weight</h5>
                        <li>500 Kg</li>
                    </ul>
                </div>
                <p>
                    The process of encapsulation of hard gelatin capsules can be done on manual, semi-automatic, and automatic capsule filling machines. Hard gelatin capsules are manufactured by the dipping method which is dipping, rotation, drying, stripping, trimming, and joining.[5] Softgels are filled at the same time as they are produced and sealed on the rotary die of a fully automatic machine. Capsule fill weight is a critical attribute in encapsulation and various real-time fill weight monitoring techniques such as near-infrared spectroscopy (NIR) and vibrational spectroscopy are used, as well as in-line weight checks, to ensure product quality.[6]

                    Volume is measured to the fill line, which is customarily to the top of the smaller-diameter body half.[citation needed] After capping, some ullage volume (air space) remains in the finished capsule
                </p>
            </div>
        </div>
    </div>
</section>
