<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Contact Us</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="index" asp-controller="home">
                            Home
                        </a>
                    </li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section id="map" class="ls ms" data-address="Terracina, LT, Italia">
                    <!-- marker description and marker icon goes here -->
                    
                        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57930.56941598693!2d67.0786459531213!3d24.84127826998254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33bc211b229af%3A0x1c5a3135d6475988!2sKorangi%20Industrial%20Area%2C%20Karachi%2C%20Karachi%20City%2C%20Sindh!5e0!3m2!1sen!2s!4v1632472432788!5m2!1sen!2s" width="1140" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <!-- <img class="map_marker_icon" src="images/map_marker_icon.png" alt=""> -->
                   
                </section>
            </div>
        </div>
        <div class="row topmargin_40">
            <div class="col-sm-4 to_animate" data-animation="pullDown">
                <div class="teaser text-center">
                    <div class="teaser_icon highlight2 size_normal"> <i class="rt-icon2-phone5"></i> </div>
                    <p> <span class="grey">Phone:</span> (021)-9876545<br> <span class="grey">Fax:</span> (021)-9876545</p>
                </div>
            </div>
            <div class="col-sm-4 to_animate" data-animation="pullDown">
                <div class="teaser text-center">
                    <div class="teaser_icon highlight2 size_normal"> <i class="rt-icon2-location2"></i> </div>
                    <p> PO Box 54378<br> Korangi Industrial Area,<br> Karachi Pakistan </p>
                </div>
            </div>
            <div class="col-sm-4 to_animate" data-animation="pullDown">
                <div class="teaser text-center">
                    <div class="teaser_icon highlight2 size_normal"> <i class="rt-icon2-mail"></i> </div>
                    <p><a href="https://html.modernwebtemplates.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ff8f979e8d929e9c9092bf9a879e928f939ad19c9092">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
        </div>
</section>