

<section class="intro_section page_mainslider ds color">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/WebApp/Assets/images/slide01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> Our researchers are focused on </h5>
                                        <h2 class="highlight"> Developing Innovative<br> New Therapies... </h2>
                                        <p> Our mission is to build a healthier tomorrow for patients<br> with progressive non-viral liver diseases </p>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <img src="~/WebApp/Assets/images/slide02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> We will Help You </h5>
                                        <h2 class="highlight"> To Live Healthy Life </h2>
                                        <p> Our mission is to build a healthier tomorrow for patients<br> with progressive non-viral liver diseases </p>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <img src="~/WebApp/Assets/images/slide03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
                                        <h5 class="thin"> We are dedicated to the </h5>
                                        <h2 class="highlight"> Discovery, Development &amp;<br> Commercialization </h2>
                                        <p> Of innovative therapies intended to significantly improve outcomes in patients<br> suffering from life-threatening diseases.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section_header"> Welcome to Our Site! </h2>
                <p>We are a biopharmaceutical company focused on the discovery, development and commercialization of innovative therapies intended to improve outcomes in patients sufferings</p>
            </div>
        </div>
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-user"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Team</h4>
                    <p class="content-3lines-ellipsis">Company was founded by scientists dedicated to create new therapeutics.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-bulb"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Focus</h4>
                    <p class="content-3lines-ellipsis">We Interrogate the inner life of GPCR signaling to develop newest therapeutics.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                <div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
                    <div class="teaser_icon size_big highlight"> <i class="rt-icon2-paperplane"></i> </div>
                    <h4 class="topmargin_20 hover-color2">Pharma Pipeline</h4>
                    <p class="content-3lines-ellipsis">Consetetur sadipscing elitr sediam nonumy eirmod tempor invidunt labore magna.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_150 columns_padding_25">
    <div class="container">
        <div class="row display_table_md">
            <div class="col-md-6 col-md-push-6 display_table_cell_md"> <img src="~/WebApp/Assets/images/gallery/01.jpg" alt="" class="rounded"> </div>
            <div class="col-md-6 col-md-pull-6 display_table_cell_md">
                <h2 class="section_header">See Our Products</h2>
                <p class="highlight bottommargin_20"><strong>We have several product candidates in development that we believe have been significantly de-risked.</strong></p>
                <p>
                    Offer unique class veterinary products; developed, produced and delivered in a creative and innovative way, with high quality standards and digital 
                    communication that allow us to position and consolidate locally through the formal establishment of strategic alliances.
                </p>
            </div>
        </div>
        <div class="row topmargin_30">
            <div class="col-sm-12">
                <div class="owl-carousel gallery-carousel" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="true">
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/02.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/02.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/03.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/03.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/04.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/04.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/05.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/05.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/06.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/06.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/07.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/07.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                    <div class="gallery-item rounded">
                        <div class="item-media rounded overflow_hidden">
                            <img src="~/WebApp/Assets/images/gallery/08.jpg" alt="">
                            <div class="media-links inverse"> <a href="~/WebApp/Assets/images/gallery/08.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section_header">Why Choose Us?</h2> <a asp-action="about" asp-controller="Home" class="theme_button color2 inverse min_width_button">About Us</a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-diamond2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Newest Technologies</h5>
                        <p>Consetetur sadipscing elitr diam nonumy eirmod tempor invidunt.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Taking Care of Nature</h5>
                        <p>Ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">Fair Prices</h5>
                        <p>At vero eos et accusam ejusto duo dolores et ea rebum clita gubergren.</p>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color size_small"> <i class="rt-icon2-cloud"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2">High Customer Satisfaction</h5>
                        <p>Nosea takimata sanctus est lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cs gradient section_padding_top_65 section_padding_bottom_50 columns_margin_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="11" data-speed="2300">0</h3>
                    <p>Years Experience</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="320" data-speed="2300">0</h3>
                    <p>Medicament Invented</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="9" data-speed="2300">0</h3>
                    <p>Awards Winned</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-6 col-xs-6 col-xxs-12">
                <div class="teaser text-center">
                    <h3 class="counter-wrap"> <span class="counter" data-from="0" data-to="99" data-speed="2300"></span> <span class="counter-add">k</span> </h3>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-md-20 col-sm-6 col-xs-12">
                <div class="teaser text-center">
                    <h3 class="counter" data-from="0" data-to="500" data-speed="2300">0</h3>
                    <p>Pharmacies Partners</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pipeline" class="ds color background_cover page_features section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-md-offset-4 col-lg-offset-6">
                <h2 class="section_header">Development pipeline</h2>
                <p class="highlight bottommargin_20"><strong>Balanced mix of new substance developments and life cycle management opportunities.</strong></p>
                <p>
                    We focus on core competencies and its many years of experience. We thus hold a leading position in many therapeutic fields: for instance in the treatment of hemophilia and multiple sclerosis, in contrast media and oral contraception. We are also
                    striving for such a leading position in oncology.
                </p>
                <div class="row topmargin_40 columns_margin_bottom_20">
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">01</p>
                            <h5 class="margin_0">Research &amp; Preclinical</h5>
                            <div class="media-links clear-media">  </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">02</p>
                            <h5 class="margin_0">Starting Phase</h5>
                            <div class="media-links clear-media">  </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">03</p>
                            <h5 class="margin_0">Medium Phase</h5>
                            <div class="media-links clear-media">  </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">04</p>
                            <h5 class="margin_0">Finishing Phase</h5>
                            <div class="media-links clear-media">  </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">05</p>
                            <h5 class="margin_0">After Drug Approval</h5>
                            <div class="media-links clear-media"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 col-xxs-12">
                        <div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
                            <p class="big highlight2 bottommargin_20 topmargin_5">06</p>
                            <h5 class="margin_0">Drugs Production</h5>
                            <div class="media-links clear-media"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cs gradient section_padding_top_50 section_padding_bottom_50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel partners-carousel" data-responsive-lg="9" data-responsive-md="6" data-responsive-sm="4" data-responsive-xs="2" data-nav="false" data-dots="false" data-center="true" data-loop="true">

                    <img src="~/WebApp/Assets/images/partners/01.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/02.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/03.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/04.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/05.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/06.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/07.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/08.png" alt="">

                    <img src="~/WebApp/Assets/images/partners/09.png" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
