<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Liquid-Filling</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="Product" asp-controller="home">
                            Products
                        </a>
                    </li>

                    <li class="active">Liquid-Filling</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/WebApp/Assets/images/liq-pic.jpg" alt="" class="alignleft">
                <h2 class="section_header">Liquid Filling Process</h2>
                <p>
                    This production line is suitable for oral liquid filling of high capacity. This line is developed by our technical personnel based on the former model with imported advanced technology and material .Its structure is more reasonable and practical. It integrate GMP requirements into the designing of the machinery so that the machines are without contamination and easy to clean. It can ensure producing qualified drugs.
                </p>
                <div class="inline-block topmargin_30">
                    <ul class="list2 checklist color2 grey">
                        <h5>Air pressure</h5>
                        <li> 10kg.m<sup>1</sup>.s<sup>2</sup> </li>
                        <h5>Air Volume</h5>
                        <li>25dm<sup>3</sup></li>
                        <h5>Filling Speed ( Bottles/min)</h5>
                        <li>For 10ml bottle 300bottle/min</li>
                        <h5>Filling Range ( in ml)</h5>
                        <li>5-100ml</li>
                    </ul>
                </div>
                <p>
                    Outer Feature: outer material is stainless steel, dull polished. The whole line is good in appearance, easy to clean. It complies with GMP regulations and can be suitable for several bottle specs.
                    Structure Feature: water filling→ultrasonic wave coarsely washing→circulation water→circulation water→compressed air→wfi→compressed air→compressed air→tunnel oven preheating→high temperature drying→cooling→bottle feeding→filling→cap→to the next process.
                    Filling Dosage Feature: no dripping, no forming, and no spitting.
                    Running Feature: stable running, low noise, precise filling, low energy consumption, low bottle breakage ratio, high qualified product ratio.
                    Performance Feature: the whole line can single machine control or interlock control. Washing machine 3 water and 3 air ensure washing effect; tunnel oven high temperature ensure drying bottles; piston filling pump ensure filling precision;10 head capping machine ensure sealing effect.
                    Meet with GMP requirement.
                </p>
            </div>
        </div>
    </div>
</section>


