
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Products</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="index" asp-controller="home">
                            Home
                        </a>
                    </li>
                    <li class="active">Products</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_130">
    <div class="container">
        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
          
           
            <div class="isotope-item col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden"> <img src="~/WebApp/Assets/images/gallery/20.jpg" alt=""> </div>
                    <div class="item-content">
                        <h4> <a asp-action="CapsuleEncapsulation" asp-controller="Home">Capsule Encapsulation</a> </h4>
                        <p> Gelatin capsules, informally called gel caps or gelcaps, are composed of gelatin manufactured from the collagen of animal skin or bone</p>
                        <p class="topmargin_20"> <a asp-action="CapsuleEncapsulation" asp-controller="Home" class="theme_button color2 inverse min_width_button">Read More</a> </p>
                    </div>
                </article>
            </div>
            
            <div class="isotope-item col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden"> <img src="~/WebApp/Assets/images/gallery/04.jpg" alt=""> </div>
                    <div class="item-content">
                        <h4> <a asp-action="Tablet" asp-controller="Home">Tablet</a> </h4>
                        <p> Tablet presses, also called tableting machines, range from small, inexpensive bench-top models that make one tablet at a time (single-station presses),</p>
                        <p class="topmargin_20"> <a asp-action="Tablet" asp-controller="Home" class="theme_button color2 inverse min_width_button">Read More</a> </p>
                    </div>
                </article>
            </div>
            <div class="isotope-item col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden"> <img src="~/WebApp/Assets/images/gallery/19.jpg" alt=""> </div>
                    <div class="item-content">
                        <h4> <a asp-action="LiquidFilling" asp-controller="Home">Liquid Filling</a> </h4>
                        <p>This production line is suitable for oral liquid filling of high capacity. This line is developed by our technical personnel based on the former model with</p>
                        <p class="topmargin_20"> <a asp-action="LiquidFilling" asp-controller="Home" class="theme_button color2 inverse min_width_button">Read More</a> </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

