<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Tablet</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="Product" asp-controller="home">
                            Products
                        </a>
                    </li>

                    <li class="active">Tablet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/WebApp/Assets/images/gallery/04.jpg" alt="" class="alignleft">
                <h2 class="section_header">Research &amp; Preclinical</h2>
                <p>
                    Ball tip tri-tip landjaeger boudin beef ribs shoulder. Cow shank landjaeger, porchetta pancetta chicken doner prosciutto short loin short ribs turducken brisket filet mignon beef ribs. Drumstick strip steak turducken shankle, jowl pork belly landjaeger
                    t-bone. Venison alcatra shankle kielbasa shank. Hamburger salami bresaola filet mignon doner frankfurter. Shoulder chicken sirloin, leberkas pig jerky tail meatball.
                </p>
                <div class="inline-block topmargin_30">
                    <ul class="list2 checklist color2 grey">
                        <li>Tenderloin boudin rump capicola </li>
                        <li>Ball tip turkey tri-tip drumstick sho</li>
                        <li>Ribs bacon swine venison corned</li>
                    </ul>
                </div>
                <p>
                    Ground round doner meatloaf turducken, jowl meatball chuck ham hock corned beef pork belly rump porchetta tail. Pancetta flank swine, shankle pork chop hamburger picanha capicola burgdoggen boudin. Ground round cupim turkey boudin pork andouille.
                    Shoulder tongue biltong hamburger, cow filet mignon t-bone corned beef kielbasa jowl. Capicola biltong ham hock doner bacon short ribs meatloaf salami. Bacon spare ribs kielbasa pastrami beef. Ground round burgdoggen doner chicken short ribs,
                    jerky biltong pork loin shank picanha flank corned beef rump pig.
                </p>
            </div>
        </div>
    </div>
</section>

