<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Tablet</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a asp-action="Product" asp-controller="home">
                            Products
                        </a>
                    </li>

                    <li class="active">Tablet</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/WebApp/Assets/images/tablet.jpg" alt="" class="alignleft">
                <h2 class="section_header">Tablet Process</h2>
                <p>
                    Tablet presses, also called tableting machines, range from small, inexpensive bench-top models that make one tablet at a time (single-station presses), with only around a half-ton pressure, to large, computerized, industrial models (multi-station rotary presses) that can make hundreds of thousands to millions of tablets an hour with much greater pressure. The tablet press is an essential piece of machinery for any pharmaceutical and nutraceutical manufacturer. Tablet presses must allow the operator to adjust the position of the lower and upper punches accurately, so that the tablet weight, thickness and density/hardness can each be controlled. This is achieved using a series of cams, rollers, or tracks that act on the tablet tooling (punches). Mechanical systems are also incorporated for die filling, and for ejecting and removing the tablets from the press after compression. Pharmaceutical tablet presses are required to be easy to clean and quick to reconfigure with different tooling, because they are usually used to manufacture many different products. There are two main standards of tablet tooling used in pharmaceutical industry: American standard TSM and European standard EU. TSM and EU configurations are similar to each other but cannot be interchanged.[11]

                    Modern tablet presses reach output volumes of up to 1,700,000 tablets per hour. These huge volumes require frequent in-process quality control for the tablet weight, thickness and hardness. Due to reduce rejects rates and machine down-time, automated tablet testing devices are used on-line with the tablet press or off-line in the IPC-labs.
                </p>
                <div class="inline-block topmargin_30">
                    <ul class="list2 checklist color2 grey">
                        <h5>Model Number</h5>
                        <li>T250S1</li>
                        <h5>Dies Amount</h5>
                        <li>45 stations</li>
                        <h5>Max Pressure</h5>
                        <li>100KN</li>
                        <h5>Max Diameter of tablet</h5>
                        <li>11 mm</li>
                        <h5>Max depth of fill </h5>
                        <li>7 mm</li>
                        <h5>Production capacity</h5>
                        <li>100000-180000 （P/h）</li>
                        <h5>Machine size</h5>
                        <li>1300*1400*1850 (mm)</li>
                        <h5>Net Weight </h5>
                        <li>2000 (kg)</li>

                    </ul>
                </div>
                <p>
                    Many tablets today are coated after being pressed. Although sugar-coating was popular in the past, the process has many drawbacks. Modern tablet coatings[12] are polymer and polysaccharide based, with plasticizers and pigments included. Tablet coatings must be stable and strong enough to survive the handling of the tablet, must not make tablets stick together during the coating process, and must follow the fine contours of embossed characters or logos on tablets. Coatings are necessary for tablets that have an unpleasant taste, and a smoother finish makes large tablets easier to swallow. Tablet coatings are also useful to extend the shelf-life of components that are sensitive to moisture or oxidation. Special coatings (for example with pearlescent effects) can enhance brand recognition.
                </p>
            </div>
        </div>
    </div>
</section>

